/* Catalogue */

.catalogueWrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.headline {
  color: #000000;
  font-family: Roboto Condensed, serif;
  text-shadow: 0 0 0;
  font-size: calc(36px + (50 - 36) * ((100vw - 280px) / (1920 - 280)));
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(-5px 5px 0px #000000);
}

.test {
  box-sizing: border-box;
  position: relative;
  width: calc(280px + (300 - 280) * ((100vw - 280px) / (1920 - 280)));
  height: 23vh;
  background: #6acd94;
  border: 1px solid #000000;
  cursor: pointer;
  margin: 5%;
  margin-top: 2%;
}

.namebox {
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  background: #ffffff;
  border-top: 1px solid #000000;
}

.text {
  font-family: Roboto Condensed, serif;
  font-size: 24px;
  margin-top: 0;
  margin-left: 4%;
}

@media (max-width: 575px) {
  .container {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .test {
    width: 90vw;
    margin: 5px;
  }
}
/* Answer Options */

.answerOption {
  padding-bottom: 1%;
  width: 100%;
  border-bottom: 1px solid #000000;
  margin-right: 2.5rem;
}

.radioButton {
  position: absolute;
  width: 24px;
  height: 24px;
  content: none;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 0.4%;
  border-radius: 50%;
  transition: all 0.2s;
  filter: drop-shadow(-1px 2px 0px #6acd94);
}

.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding-left: 2.5rem;
  font-size: calc(19px + (26 - 19) * ((100vw - 280px) / (1920 - 280)));
}

/* Question */

.question {
  font-family: Roboto Condensed, serif;
  font-size: calc(24px + (40 - 24) * ((100vw - 280px) / (1920 - 280)));
  margin-top: 2vh;
  margin-left: 2vw;
}

.questionCount {
  font-family: Roboto Condensed, serif;
  font-size: 24px;
  padding-top: 1vw;
  padding-left: 2vw;
}

/* Result */

.resultField {
  height: 17vh;
  background: #6acd94;
  margin: 0;
  border-bottom: 0.01em solid #000000;
}

.resultText {
  font-family: Roboto Condensed, serif;
  font-size: 24px;
  padding-top: 1vw;
  padding-left: 2vw;
}

.resultContent {
  font-family: "Roboto Condensed", serif;
  font-size: calc(24px + (40 - 24) * ((100vw - 280px) / (1920 - 280)));
  margin-top: 2vh;
  margin-left: 2vw;
}

.resultDescription {
  display: flex;
  height: 48vh;
  border-bottom: 0.01em solid #000000;
}

.resultImage {
  height: 48vh;
  margin: 0;
  box-shadow: 0 0 0 black;
}

.resultDescriptionContent {
  margin: 2%;
  font-family: Roboto Condensed, serif;
  font-size: calc(14px + (24 - 14) * ((100vw - 280px) / (1920 - 280)));
}

.resultCard {
  background-color: #feeac5;
  filter: drop-shadow(-10px 10px 0px #000000);
}

/* Test */

.testContainer {
  width: 70vw;
  height: 65vh;
  border: 0.01em solid #000000;
  background: #feeac5;
}

.questionField {
  height: 17vh;
  background: #6acd94;
  margin: 0;
  border-bottom: 0.01em solid #000000;
}

.answerOptions {
  display: flex;
  flex-wrap: wrap;
  height: 48vh;
  padding-left: 3%;
  align-content: space-evenly;
}

.headline {
  color: #000000;
  font-family: "Roboto Condensed", serif;
  text-shadow: 0 0 0;
}
