.nav {
  background-color: #fee9c6;
  /* Size */
  width: 100%;
  height: fit-content;

  /* Display */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  /* Others */
  border-bottom: 2px solid #000000;
}

.logoBox {
  background-color: #fee9c6;

  height: fit-content;
  width: fit-content;
  /* Display */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  place-content: center;
  flex-wrap: nowrap;
}

.logoText {
  background-color: #fee9c6;
  color: #000000;
  font-family: "Parisienne", serif;
  font-size: calc(20px + (64 - 20) * ((100vw - 280px) / (1920 - 280)));

  /* Size */
  height: fit-content;
  width: fit-content;

  /* Display */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  place-content: center;
  flex-wrap: nowrap;

  /* Others */
  margin: 0 0 0 15px;
  padding: 0;
}

.HomeButton {
  width: calc(70px + (128 - 70) * ((100vw - 280px) / (1920 - 280)));
  color: black;
  outline: black solid 1px;
  margin: 0 0 0 2%;
  font-family: Roboto, serif;
  font-weight: 400;
  text-align: center;
  padding: 0.3%;
  font-size: calc(14px + (24 - 14) * ((100vw - 280px) / (1920 - 280)));
  line-height: calc(1.5em + (2 - 1.5) * ((100vw - 280px) / (1920 - 280)));
  background-color: #fee9c6;
}

.HomeButton:hover {
  background-color: #fdd798;
}
