.body {
    background-color: #FEE9C6;
    min-height: 100vh;

    /* Display */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    width: 72vw;
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    margin:31vh auto;
    filter: drop-shadow(-10px 10px 0px #000000);
}

.little_box {
    width: 2vw;
    height: 4vh;
    background-color: #41A6E1;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', serif;
}

.little_box_now {
    width: 2vw;
    height: 4vh;
    background-color: #41A6E1;
    text-align: center;
    border: 1px solid #000000;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', serif;
}

.little_box_pass {
    width: 2vw;
    height: 4vh;
    background-color: #005DA3;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', serif;
}

.block {
    position: absolute;
    top: 22vh;
    width: 72vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
}

.question {
    width: 72vw;
    height: 28vh;
    background-color: #41A6E1;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.answer {
    width: 72vw;
    height:29vh;
    background-color: #FEEAC5;
    border: 1px solid #000000;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
}

.box_answer {
    /* border: 1px solid #000000; */
    width: 34vw;
    height: 8vh;
}

.btn {
    color: #000000;
    width: 34vw;
    height: 8vh;
    background-color: #FEE9C6;
    border: 1px solid #000000;
    font-family: 'Roboto Condensed', serif;
    font-size: large;
}

.btn:hover {
    background-color: #41A6E1;
}

.h3 {
    text-align: center;
    font-family: 'Roboto Condensed', serif;
}

.p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', serif;
}